*.geojson filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
layers/* filter=lfs diff=lfs merge=lfs -text
resources/* filter=lfs diff=lfs merge=lfs -text
styles/* filter=lfs diff=lfs merge=lfs -text
webfonts/* filter=lfs diff=lfs merge=lfs -text
